/* App.css - apply to all layout sections */
:root {
  --bgColour: #f2f2f2;
  --pGreen: #495e57;
  --pYellow: #f4ce14;
  --bHover: #e3bc10;
  --pYellowHover: #f7dc57;
  --sSalmon: #ee9972;
  --sPeach: #fbdabb;
  --sSeashell: #fdf4ee;
  --highlight: #edefee;
  --bH: #212121;
  --bP: #333;
  --wPH: #f4f4f4;
  --hFont: "Markazi Text", serif;
  --pFont: "Karla", sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--pFont);
  font-weight: 400;
}
a,
h1,
h2,
h3,
h4 {
  font-family: var(--hFont);
  font-weight: 400;
  margin: 0;
  line-height: .8;
}
.header-content {
  color: #fff;
}
.header-content h1{
  color: var(--pYellow);
}
.header-subtitle {
  margin-bottom: 1em;
}
.header-content p {
  color: var(--wPH);
  font-size: 2.2rem;
  font-weight: 400 ;
}
h1 {
  font-size: 4rem;
  margin: 0;
}
h2 {
  font-size: 3rem;
  font-weight: 400;
  }
  h3{
    font-size: 2.2rem;
    font-weight: 700;
  }
  h4{
    font-size: 2rem;
    color: var(--sSalmon);
    font-weight: 700;
  }
p {
  font-size: 1.8rem;
  color: var(--bP);
  letter-spacing: 1.1;
  line-height: 1.5;
  opacity: .9;
  margin: 0.5em 0;
}
img {
  width: 100%;
  display: block;
}
button {
  background-color: var(--pYellow);
  color: #333;
  border: 1px solid #000;
  padding: 2rem 4.5rem;
  border-radius: 25px;
  font-size: 2.2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  margin-top: 1em;
}
button:hover {
  background-color: var(--pYellowHover);
}
.navbar {
  background-color: var(--bgColour);
  position: relative;
}
.container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
} 
.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 1em;
}
.container-body {
  padding: 2em 0;
}

/* Text */

/* navbar */
.nav-links {
  position: absolute;
  display: none;
  flex-direction: column;
  list-style: none;
  top: 100%;
  right: .1rem;
  background-color: var(--bgColour);
  border-radius: 12px;
  color: #333 ;
  padding: 1rem;
  margin: 0;
  z-index: 10;
  width: auto;
}
a {
  text-decoration: none;
  color: #333;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-links li {
    border-bottom: 1px dashed black;
    padding: 1em;
}
.hamburger {
  all: unset;
  display: block;
  color: rgb(39, 90, 72);
  font-size: 2rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  margin: 0;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
.hamburger:focus,
.hamburger:active {
  background-color: var(--bgColour);
  outline: none;
  box-shadow: none;
}
.nav-links.show {
  display: flex;
}

.logo img{
    display: block;
} 
.logo {
    width: 10rem
}

 /* Responsive Styles  */
 @media (min-width: 700px) {
  .logo {
      width: 20rem
    }
  .hamburger {
    display: none;
  }
  
  .container-nav {
    padding: 5em 0;
  }
  .nav-links {
    position: static;
    display: flex;
    flex-direction: row;
    border: none;
    padding: 0;
    background: none;
    gap: 2rem;
  }
  .nav-links li {
    border-bottom: 0;
  }
} 
header {
  background: var(--pGreen);
  padding-top: 2em;
}

.header-image img {
  display: none;
}
/* Specials */

.specials {
  background: var(--bgColour);
}

.specials-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-item {
  background-color: var(--highlight);
  border-radius: 25px;
  border: 2px solid var(--bP);
  box-shadow: 7px 8px 6px rgba(0, 0, 0, 0.4);
  transition: transform 0.32s ease-out;
}
.card-image {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  max-width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  margin-bottom: 0.5em;
}
.card-item:hover {
  transform: scale(1.05);
  box-shadow: 8px 9px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5em
}
.image-caption {
  display: flex;
  justify-content: space-between;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.card-header img {
  width: 50px;
  border-radius: 100%;
  aspect-ratio: 1 /1;
}
.card-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
/* .push-down {
  margin-top: auto;
} */
.card-footer img {
  width: 40px;
  height: auto;
}
.stars {
  font-size: 2rem;
}
.reviews {
  background: var(--sSeashell);
  padding-bottom: 5rem;
}
.reviews-title {
  font-size: 3.2rem;
  font-weight: 700;
  padding-bottom: 2rem;
  text-align: center;
}

.reviewer-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1.5em;
}
.review-card {
  background: #fff;
  border-radius: 25px;
  border: 2px solid black;
  box-shadow: 7px 8px 6px rgba(0, 0, 0, 0.4);
  transition: transform 0.32s ease-out;
}
 .review-card:hover {
  transform: scale(1.05);
  box-shadow: 8px 9px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
 }
.review-date {
  font-size: 1rem;
  color: var(--bP);
  margin-top: 0.25rem;
}
/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--wPH);
  border-top: 1px solid #ddd;
  font-size:.0.9rem;
}
@media (min-width: 700px) {
  .container-body {
    display: flex;
    justify-content: space-between;
  }

  main {
    width: 55%;
  }

  aside {
    width: 45%;
  }

  h1 {
    font-size: 9rem;
    overflow-x: visible;
    white-space: nowrap;
  }
  h2 {
    font-size: 5rem;
  }
  button {
    align-self: start;
  }
  .reviews-title {
    font-size: 5rem;
    padding: 2em 0;
  }
  .header-content {
    width: 70%;
    margin: 10em 0;
  }
  .header-image img {
    display: flex;
    max-width: 50em;
    border-radius: 2rem;
    margin: 3em 2em -5em 0;
  }
  .specials {
    padding-top: min(10vw, 10em);
  }
  .specials-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    gap: 5em;
  }
  .card-title {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .card-item {
    margin-bottom: 5em;
  }
  .review-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5em;
    padding: 2em 0 4em;
  }
  .reviews-title {
    grid-column: 1 / -1;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
    padding: 5em 0;
    gap: 5em;
  }
    .flex-container img {
      width: 200px;
      height: auto;
    }
    .foot-title {
      color: var(--pGreen);
      font-size: 2.5rem;
      font-weight: 700;
      text-align: left;
  
    }
    .foot-links {
      display: flex;
      flex-direction: column;
      text-align: left;
      list-style: none;
      padding: 1em 0;
      gap: 1em;;
    }
    .foot-links a{
      color: var(--bH);
      font-family: var(--pFont);
      font-size: 1.8rem;
      font-weight: 300;
  

    }
}