/* App.css - apply to all layout sections */
:root {
  --bgColour: #f2f2f2;
  --pGreen: #495e57;
  --pYellow: #f4ce14;
  --bHover: #e3bc10;
  --pYellowHover: #f7dc57;
  --sSalmon: #ee9972;
  --sPeach: #fbdabb;
  --sSeashell: #fdf4ee;
  --highlight: #edefee;
  --bH: #212121;
  --bP: #333;
  --wPH: #f4f4f4;
  --hFont: "Markazi Text", serif;
  --pFont: "Karla", sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  width: 100%;
}
body {
 
  width: 100%;
  margin: 0;
  font-family: var(--pFont);
  font-weight: 400;
}
a,
h1,
h2,
h3,
h4 {
  font-family: var(--hFont);
  font-weight: 400;
  margin: 0;
  line-height: .8;
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.9s ease;
}

.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}

.header-content {
  max-width: 90%;
  margin: 0 auto;
  color: #fff;
}
.header-content h1{
  color: var(--pYellow);
}
.header-subtitle {
  margin-bottom: .5em;
  color: var(--wPH);
}
.header-para {
  color: var(--wPH);
  font-size: 1.6rem;
  font-weight: 400 ;
  padding-bottom: 1em;
}
.hdr-btn {
  margin-bottom: 8px;
}
h1 {
  font-size: 4rem;
  margin: 0;
}
h2 {
  font-size: 3rem;
  color: #333;
  font-weight: 400;
  }
h3{
  font-size: 2.2rem;
  color: #333;
  font-weight: 700;
}
h4{
  font-size: 2rem;
  color: var(--pGreen);
  font-weight: 700;
}
p {
  font-size: 1.2rem;
  color: var(--bP);
  letter-spacing: 1.1;
  line-height: 1.5;
  opacity: .9;
  margin: 0.5em 0;
}
strong {
  font-family: var(--pFont);
}
main,
aside {
  width: 100%;
}
.about-header-content {
  padding: 2em;
}
.about-h1 {
  color: var(--bP);
  font-size: 4rem;
}
.about-para {
  color: var(--bH);
  font-size: 1.6rem;
  font-weight: 700;
}
.about-article-content {
  display: flex;  
  flex-direction: column;
  color: var(--pGreen);
  padding: 0 2em;
  
}
.about-article-para {
  font-size: 1.1rem;
}
img {
  width: 100%;
  display: block;
}
.btn-primary {
  background-color: var(--pYellow);
  color: #333;
  border: 1px solid #000;
  padding: 1.7rem 3.5rem;
  border-radius: 25px;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.32s ease-out;
}
.btn-primary:hover {
  background-color: var(--pYellowHover);
  transform: scale(1.05);
}
.navbar {
  background-color: var(--bgColour);
  position: relative;
}
.container {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
} 
@media (max-width: 950px) {
  .container {
    width: 98%;
  }
  .about-header-content {
    padding: 2em 1.5em;
  }
  .about-article-content {
    padding: 0;
  }
  .about-color-2 {
    padding: 2em .5em;
  }
  .about-overlay-img {
    display: none;
  }
}
.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.container-body {
  padding: .2em 0;
}

/* Text */

/* navbar */
.nav-links {
  position: absolute;
  display: none;
  flex-direction: column;
  list-style: none;
  top: 100%;
  right: .1rem;
  background-color: var(--bgColour);
  border-radius: 12px;
  color: #333 ;
  padding: 1rem;
  margin: 0;
  z-index: 10;
  
  
}
a {
  text-decoration: none;
  color: #333;
  font-size: 1.7rem;
  font-weight: bold;
}
a:hover {
  color: #495e57;
}
.nav-links li {
    border-bottom: 1px dashed black;
    padding: 1em;
    transition: transform 0.32s ease-out;
}
.nav-links li:hover {
  transform: scale(1.1);
}
.hamburger {
  all: unset;
  display: block;
  color: rgb(39, 90, 72);
  font-size: 2rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  margin: 0;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
.hamburger:focus,
.hamburger:active {
  background-color: var(--bgColour);
  outline: none;
  box-shadow: none;
}
.nav-links.show {
  display: flex;
}

.logo img{
    display: block;
} 
.logo {
    width: 10rem;
    padding: 5px 0;
}

 /* Responsive Styles  */
 @media (min-width: 700px) {
  .logo {
      width: 20rem
    }
  .hamburger {
    display: none;
  }
  
  .container-nav {
    padding: 1.5em 0;
  }
  .wrapper {
    flex-wrap: wrap;
  }
  .nav-links {
    position: static;
    display: flex;
    flex-direction: row;
    border: none;
    padding: 0;
    background: none;
    gap: .2em;
  }

  .nav-links li {
    border-bottom: 0;
  }
} 
header {
  background: var(--pGreen);
}
.about-color-1 {
  background: var(--pYellow);
  padding-bottom: 0;
}

.header-image img {
  display: none;
}
/* Specials */

.specials {
  background: var(--bgColour);
}

.specials-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-title {
  padding: 20px 20px 0;
}
.card-title h2 {
  margin-bottom: 8px;
}
.card-item {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--highlight);
  border-radius: 25px;
  border: 2px solid var(--bP);
  box-shadow: 7px 8px 6px rgba(0, 0, 0, 0.4);
  transition: transform 0.32s ease-out;
}

.card-image {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  max-width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  margin-bottom: 0.5em;
}
.card-item:hover {
  transform: scale(1.05);
  box-shadow: 8px 9px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer
}
.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5em;
  
}
.image-caption {
  display: flex;
  justify-content: space-between;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.card-header img {
  width: 50px;
  border-radius: 100%;
  aspect-ratio: 1 /1;
}
.card-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.card-footer img {
  width: 40px;
  height: auto;
}
.stars {
  color: var(--bHover);
  font-size: 1.4rem;
  padding: 6px;
  text-align: center;
}
.reviews {
  background: var(--sSeashell);
  padding-bottom: 5rem;
}
.review-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
  
}
.reviews-title {
  background: linear-gradient(45deg, #548e86, #8a86c0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.8rem;
  font-weight: 700;
  padding-bottom: 2rem;
  text-align: center;
  
}
.reviewer-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1.5em;
}
.review-card {
  max-width: 90%;
  margin: 0 auto;
  background: #fff;
  border-radius: 25px;
  border: 2px solid black;
  box-shadow: 7px 8px 6px rgba(0, 0, 0, 0.4);
  transition: transform 0.32s ease-out;
}
 .review-card:hover {
  transform: scale(1.05);
  box-shadow: 8px 9px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
 }
.review-date {
  font-size: 1rem;
  color: var(--bP);
  margin-top: 0.25rem;
}
.menuItems {
  background: var(--bgColour);
}
.menu-title {
  width: fit-content;
  background: var(--pYellow);
  color: #333;
}
.menu-header {
  background: linear-gradient(45deg, #495e57, #f4ce14);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  padding: 0 0 .3em 4px;
  margin-bottom: 4px;
}
.menu-header:first-child {
  margin-top: 1em;
}
.menu-card {
  padding: 1em;
  border-bottom: 2px solid var(--pYellow);
}
.menu-title {
  margin: 1em auto .75em;
  padding: 0 0 .3em;
}
.underline-menu-title {
  width: 100%;
  border-bottom: 2px solid var(--pYellow);
  margin: 2em 0;
}
.res-container {
    background-image: url("/src/assets/busySpot.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4em 0;
}
.res-wrapper {
  background: var(--bgColour);
  opacity: .94;
  width: 90%;
  margin: 0 auto;
  padding: 3em 2em;
  border-radius: 10px;
}
.res-content-wrapper {
  width: 80%;
  margin: 0 auto;
}
.res-title,
.res-content {
  margin-bottom: .5rem;
  font-weight: 700;
}
.res-title {
  font-size: 2.2rem;
  color: var(--pYellow);
}
.res-content {
  color: var(--pGreen);
  
}
.res-logo {
  width: 150px;
}
.input-row {
  display: flex;
  flex-direction: column;
  
}
.input-column textarea
.input-column input,
.input-row textarea,
.input-row select,
.input-row input {
  padding-left: 10px;
  width: 100%;
  margin: 0 auto;
  height: 3.3rem;
  border: 0;
  border-bottom: 1px solid rgb(51, 51, 51, .4);
}
.booking-form {
  margin-top: 1em;
}
.required {
  color: rgb(41, 41, 181);
  display: flex;
  justify-content: flex-end;
  margin-right: 3em;
}
.btn-booking {
  background: var(--pYellow);
  padding: 1.3em 1em;
  width: 100%;
  margin: 0 auto;
  border: 0;
  border-radius: 1px;
}
.details-pane img {
  width: 6rem;
  padding: 1em;
}
.btn-submit {
  margin-bottom: 2em;
}
.btn-back {
  background: var(--pGreen);
  color: var(--wPH);
  border-radius: 8px;
  border: 0;
  width: fit-content;
  padding: .5em 1.5em;
}
.summary-list {
  list-style: none;
  margin: 0;
  padding: 1em 0;
}
.login-page {
  background-color: var(--pGreen);
  font-size: 1.4rem;
  padding: 4em 0;
}
.login-wrapper {
  background: var(--bgColour);
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 10px;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login-form input {
  font-size: 1.1rem;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #333;
  width: 100%;
  box-sizing: border-box;
}
.check-box {
  display: flex;
  justify-content: center;
  gap: 1em;
}
input[type="checkbox"] {
  width: 20px;
  height: auto;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  gap: 10px;
}
.dual-button {
  width: fit-content;
  border: 1px solid #212121;
  border-radius: 25px;
  background: var(--pYellow);
  display: flex;
  margin: .8em auto;
}
.dual-button .btn{
  font-size: 1rem;
}
.dual-button .btn:disabled {
  pointer-events: none;
  /* stops hover/click */
}
.btn-left {
  border: 0;
  border-right: 1px solid #212121;
  background: var(--pGreen);
  color: var(--wPH);
  padding: .4em .9em;
  z-index: 1;
}
.btn-left:hover {
background: #728b82;
}
.btn-right {
background-color: inherit;
  /* use parent bg */
  border: none;
  outline: none;
  box-shadow: none;
  padding: .4em .9em .4em .6em;
}
.google-btn {
  width: 80%;
  margin: .5em auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .8em;
  /* space between icon and text */
  padding: 8px 16px;
  border: none;
  background: rgb(66, 133, 246);
  color: var(--wPH);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.2s ease;
  
}
.google-btn:hover {
  background-color: #9e9e9e;
}
.google-icon {
  width: 20px;
  height: 20px;
}
.google-bg-image {
  background: var(--wPH);
  border-radius: 100%;
  padding: 4px;
}
.signin-btn {
  background: var(--pYellow);
  width: 100%;
  font-size: 1.1rem;
  padding: .75em 0;
  border: 0;
  border-radius: 25px;
  margin-top: .5em;
}
.password-wrapper {
  position: relative;
  display: inline-block;
}

.password-wrapper input {
  padding-right: 60px;
  /* room for button */
}

.toggle-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  color: #333;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.toggle-btn:hover {
  opacity: .5;
  transform: translateY(-50%);
}
.toggle-btn:focus {
  background-color: #fff;
}
.forgot-password {
  font-family: var(--pFont);
  text-decoration: underline;
  cursor: pointer;
}
.confirm {
  background: var(--bgColour);
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding: 4em;
}
/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--wPH);
  border-top: 1px solid #ddd;
  font-size:.0.9rem;
}
.container-foot img {
  width: 150px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px;
}
.foot-title {
  color: var(--pGreen);
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
  padding-left: 10px;

}

.foot-links {
  display: flex;
  flex-direction: column;
  text-align: left;
  list-style: none;
  padding: 1em 10px;
  gap: 1em;
  ;
}

.foot-links a {
  color: var(--bH);
  font-family: var(--pFont);
  font-size: 1.4rem;
  font-weight: 300;
}

.foot-links a:hover {
  color: #495e57;
}

.foot-links li {
  transition: transform 0.32s ease-out;
}

.foot-links li:hover {
  transform: scale(1.1);
}
@media (min-width: 700px) {
 
  .container-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container-nav {
    display: flex;
  }
  main {
    width: 55%;
  }

  aside {
    width: 40%;
  }

  h1 {
    font-size: 6rem;
    overflow-x: visible;
    white-space: nowrap;
  }
  h2 {
    font-size: 4rem;
  }
  button {
    align-self: start;
  }
  .header-content {
    width: 70%;
    margin: 6em 0;
  }
  .header-image img {
    display: flex;
    max-width: 30em;
    border-radius: 2rem;
    margin: 3em 2em -5em 0;
  }
  .about-color-1 {
    padding-bottom: 4em;
  }
  .about-color-2 {
    background: var(--highlight);
    padding: 2em 2em;
  }
  .about-header-content {
    padding: 4em;
  }
  .about-body {
    padding: 2em 0 ;
  }
  .about-header-img {
    margin: 3em 2em ;
  }
  .aside {
    display: flex;
    justify-content: center;
    width: 40%;
    margin-top: 6em;
  }
  .about-article-content {
    width: 60%;
  }
  .about-article-img {
    position: relative;
    width: 250px;
    height: 325px;
  }
  .about-bg-img {
    border-radius: .5rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease, z-index 0.4s ease;
    position: relative;
    z-index: 1;
  }
  .about-overlay-img {
    position: absolute;
    border-radius: .5rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 50%;
      left: 50%;
      transform: translate(0%, -90%) rotate(0deg) scale(1);
      z-index: 2;
      transform: 0.8s ease, z-index 0.8s ease;
  }
  .about-bg-img:hover {
    z-index: 3;
    transform: scale(1.1) rotate(5deg);
  }
  .about-overlay-img:hover {
    z-index: 1;
    transform: translate(0%, -100%) rotate(-5deg) scale(1.05);
  }
  .specials {
    padding-top: min(10vw, 10em);
  }
  .specials-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
    justify-content: center;
    gap: 5em;
  }
  .card-title {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card-item {
    margin-bottom: 5em;
  }
  .review-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 220px));
    justify-content: center;
  }
  .reviews-title {
    font-size: 5rem;
    padding: 1em 0;
    grid-column: 1 / -1;
  }
  .menu-card {
    display: flex;
    border-bottom: 2px solid var(--pYellow);
  }
  .menu-card:last-child {
    margin-bottom: 5em;
  }
  .menuImage {
    width: 200px;
    height: auto;
    border-radius: 8px;
  }
  .menu-content {
    padding: 1em;
  }
  .menu-details {
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
  }
  .desc-font-size {
    font-size: 1.5rem;
  }
  .res-wrapper {
    width: 60%;
  }
  .booking-form {
    display: flex;
    justify-content: space-between;
    gap: 5em;
  }
  .input-row {
    display: flex;
    flex-direction: row;
  }
  .input-row select,
  .input-row input {
    border-bottom: 0;
  }
  .input
  .login-wrapper {
    width: 400px;
  }
  .input-column {
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
  }
  .input-column input {
    border-bottom: 1px solid rgb(51, 51, 51, .4);;
  }
  .details-pane {
    width: 100%;
    justify-content: center;
  }
  .container-foot {
    display: flex;
    justify-content: space-between;
    padding: 5em 0;
    gap: 5em;
  }   
  .container-foot img {
    margin: 0;
  }
}
    

@media (min-width: 700px) and (max-width: 1200px) { 
  
  .specials-body,
  .container-nav {
    display: block;
  }
  .review-content {
    grid-template-columns: 1fr 1fr;
  }
  .container-foot {
  flex-wrap: wrap;
  }
}
@media (max-width: 1200px) and (min-width: 1600px) {
  .about-article-para {
    width: 60%;
  }
    .about-article-img {
     width: 250px;
     height: 300px;
    }
  .specials-body {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .review-content {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 7em;
  }
}
@media (min-width: 1450px) {
  .specials-body {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .review-content {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

}