/* App.css - apply to all layout sections */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fefefe;
  color: #333;
}

/* Header */
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 2rem;
  background-color: rgb(73, 94, 87);
  border-bottom: 1px solid #ddd;
  height: 85vh;
  
}
.header-text {
  width: 70%;
  padding: 2vw 10vw;
}
.header-text h1 {
  color: #f4ce14;
  font-family: "Markazi Text", serif;
  font-size: 12rem;
  margin: 0;
}
.header-text h2 {
  color: #ffffff;
  font-family: "Markazi Text", serif;
  font-size: 3.3vw;
  margin: 0;
}
.header-text p {
  color: #ffffff;
  font-family: 'karla', sans-serif;
  font-size: 1.5vw;
  padding: 15px;
  margin: 0;
}
button {
  background: #f4ce14;
  border-radius: 50px;
  font-family: 'karla', sans-serif;
  font-size: 2vw;
  padding: 25px 50px;
  margin: 120px 5px 20px 5px;
}
.header-apps{ 
  overflow: visible;
  padding: 60px;
}
.header-apps img {
  border-radius: 50px;
  align-items: center;
  padding: 20px 75px 0 75px;
  margin-bottom: -40px;
  width: 30vw;

  max-width: 100%;
  display: block; 
  
}
/* Nav */
.navbar {
  background-color: #e6e6e6;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #ccc;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  /* space between logo and links */
}

.logo {
  height: 4.5rem;
 
}
.nav-links {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
  font-family: 'karla', sans-serif;
  font-weight: bold;
}

.nav-links a:hover {
  color: #007bff;
}

/* Main */
main {
  padding: 2rem;
  min-height: 60vh;
  background-color: #fff;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #f4f4f4;
  border-top: 1px solid #ddd;
  font-size:.0.9rem;
}